<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reservation.name %>
</p>

<p>
  <strong>Nb personne:</strong>
  <%= @reservation.nb_personne %>
</p>

<p>
  <strong>Place:</strong>
  <%= @reservation.place %>
</p>
<!--

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
-->
